#GameScreen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: whitesmoke;
}

#main {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(128,128,128,.5);
}

#resetScreenButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    width: fit-content;
    border-radius: 99999px;
    box-shadow: lightgray -5px 2px 7px;
    background-color: lightgreen;
    border-color:rgba(2, 255, 2, 0.538);
}

#resetScreenButton:hover{
 font-size: 1.2rem;
 background-color: rgb(2, 255, 2);
}

h1 {
    text-align:  center;
}

#colorSelector {
    display:flex;
    flex-direction: column;
    border: 1px solid blue; 
}

#colorSwatch{
    margin-left:1.2rem
}

#colorSelector label {
    font-size: 1.3rem;
    padding-right: 1.2rem;
}

#ControlPanel {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
