#GameScreen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: whitesmoke;
}

#main {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(128,128,128,.5);
}

#resetScreenButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    width: 8em;
    border-radius: 99999px;
    box-shadow: lightgray -5px 2px 10px;
}

h1 {
    text-align:  center;
}

#colorSelector {
    display:flex;
    flex-direction: column;
    border: 1px solid blue; 
}

#ControlPanel {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
